/* Contents */
body {
  background: #1b1b20;
}

.formulas {
  &__wrap {
    display: flex;
    justify-content: center;
  }
  &__wrap-small {
    padding-top: 3.438rem;
    .col-6 {
      display: flex;
      justify-content: flex-start;
      &.child-one {
        .formula__item:first-child {
          margin-left: 15.1%;
          position: relative;
          &:before {
            content: "";
            width: 1.875rem;
            height: 1.875rem;
            position: absolute;
            top: calc(50% - 0.938rem);
            right: 100%;
            background-image: url(../images/arrow-lines.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }

    .formula {
      &__item {
        &.multiplication {
          &:after {
            font-size: 1.5rem !important;
            line-height: 1.25rem !important;
          }
        }
      }
      &__circle {
        font-size: 0.75rem;
        line-height: 1.333em;
        // padding: 1.75rem .5rem
        padding: 0 !important;
        flex: 0 0 88px !important;
        max-width: 88px !important;
        min-height: 88px !important;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .formula {
    &__item {
      flex: 0 0 calc(100% / 5);
      max-width: calc(100% / 5);
      // background: red
      color: #fff;
      position: relative;
      display: flex;
      // justify-content: center
      padding-left: 2%;
      &:first-child {
        padding-left: 0;
        justify-content: flex-start;
      }
      &:last-child {
        padding-left: 0;
        justify-content: flex-end;
      }
      &.multiplication {
        &:after {
          content: "X";
          font-size: 1.75rem;
          line-height: 1.2rem;
          position: absolute;
          top: calc(50% - 0.75rem);
          right: 14%;
        }
      }
      &.addition {
        &:after {
          content: "+";
          font-size: 2.25rem;
          line-height: 1.2rem;
          position: absolute;
          top: calc(50% - 0.75rem);
          right: -0.5rem;
        }
      }
      &.equals {
        &:after {
          content: "=";
          font-size: 2.25rem;
          line-height: 1.2rem;
          position: absolute;
          top: calc(50% - 0.75rem);
          right: -0.5rem;
        }
      }
      &.has-child {
        .formula__circle {
          position: relative;
          &:after {
            content: "";
            width: 3px;
            height: 100px;
            background-color: #3a3a3d;
            position: absolute;
            top: 100%;
            left: calc(50% - 1.5px);
          }
        }
      }
    }

    &__circle {
      padding: 2.625rem 1.188rem;
      border-radius: 50%;
      flex: 0 0 9rem;
      max-width: 9rem;
      min-height: 9rem;
      text-align: center;
      // display: flex
      // align-items: center
      // justify-content: center
      // flex-direction: column
      small {
        font-size: 0.875rem;
        line-height: 1.4285em;
        opacity: 0.5;
      }
      &.debt {
        background: #6b2d5c;
      }
      &.total {
        background: #f79f79;
      }
      &.child {
        background: #b74f6f;
      }
    }
  }
}

.rumus {
  display: flex;
  justify-content: space-between;
  padding-bottom: 9.063rem;
  &__item {
    position: relative;
    &.has-child {
      .circle {
        position: relative;
        &:after {
          content: "";
          width: 4px;
          height: 100px;
          background: #3a3a3d;
          position: absolute;
          top: 100%;
          left: calc(50% - 1.5px);
        }
      }
    }
    &.multiplication {
      position: relative;
      &:after {
        content: "x";
        font-size: 36px;
        line-height: 45 px;
        position: absolute;
        right: -60%;
        top: calc(50% - 22.5px);
        display: inline-block;
        width: max-content;
      }
    }
    &.addition {
      position: relative;
      &:after {
        content: "+";
        font-size: 36px;
        line-height: 45 px;
        position: absolute;
        right: -60%;
        top: calc(50% - 22.5px);
        display: inline-block;
        width: max-content;
      }
    }
    &.equals {
      position: relative;
      &:after {
        content: "=";
        font-size: 36px;
        line-height: 45 px;
        position: absolute;
        left: -60%;
        top: calc(50% - 22.5px);
        display: inline-block;
        width: max-content;
      }
    }
    &.grouped-start {
      &:before {
        content: "";
        width: 33px;
        height: 33px;
        background-color: #3a3a3d;
        position: absolute;
        top: 114%;
        left: 251%;
        background: url(../images/half-circle-line.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 2;
      }
    }
    &.grouped-end {
      &:before {
        content: "";
        width: 4px;
        height: 32px;
        background: #3a3a3d;
        position: absolute;
        top: 100%;
        left: calc(50% - 1.5px);
      }
      &:after {
        content: "";
        width: 548px;
        height: 4px;
        background: #3a3a3d;
        position: absolute;
        top: calc(100% + 30px);
        right: calc(50% - 2px);
      }
    }
    .circle {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      background: #6b2d5c;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      &.total {
        background: #ee7a48;
      }

      .text {
        small {
          font-size: 14px;
          line-height: 24px;
          opacity: 0.5;
        }
      }
      &-small {
        width: 88px;
        height: 88px;
        border-radius: 50%;
        background: #b74f6f;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        & + .circle-small {
          margin-left: 21px;
        }
        &.dashed {
          background: #24242a;
          border: 1px dashed rgba(255, 255, 255, 0.75);
        }
        &.multiplication {
          position: relative;
          &:after {
            content: "x";
            font-size: 24px;
            line-height: 30px;
            position: absolute;
            left: 104%;
            top: calc(50% - 15px);
            display: inline-block;
            width: max-content;
          }
        }
        &.addition {
          position: relative;
          &:after {
            content: "+";
            font-size: 24px;
            line-height: 30px;
            position: absolute;
            left: 104%;
            top: calc(50% - 15px);
            display: inline-block;
            width: max-content;
          }
        }
        &.addition-parentheses-start {
          position: relative;
          margin-right: 10px;
          &:after {
            content: "+(";
            font-size: 24px;
            line-height: 30px;
            position: absolute;
            left: 102%;
            top: calc(50% - 15px);
            display: inline-block;
            width: max-content;
          }
        }
        &.addition-parentheses-end {
          position: relative;
          margin-right: 10px;
          &:after {
            content: ")+";
            font-size: 24px;
            line-height: 30px;
            position: absolute;
            left: 104%;
            top: calc(50% - 15px);
            display: inline-block;
            width: max-content;
          }
        }
        &.higlighted {
          border: 4px solid #93c1ff;
          &:after {
            left: calc(102% + 4px);
          }
        }
        .text {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

    .childs {
      position: absolute;
      top: calc(100% + 54px);
      left: calc(50% + 30px);
      display: flex;
      justify-content: space-between;
      &:before {
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        top: calc(50% - 15px);
        right: 100%;
        background: url(../images/arrow-lines.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

.homepage {
  &__top {
    background-color: #1b1b20; // #141416
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 5.25rem;
    // height: calc(100vh - 250px)
    // max-height: 800px
    .container {
      position: relative;
      .row {
        align-items: center;
      }
    }
    .col-lg-4 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
      .btn-play {
        position: relative;
        margin-top: 30%;
      }
    }
    .section__heading {
      h1 {
        sup {
          font-size: 1.75rem;
        }
      }
    }
  }
  section.homepage__top {
    // padding-top: 10rem
    // padding-top: 18vh
    padding-top: 37vh;
    padding-bottom: 15.5rem;
  }
  &__clients {
    p {
      margin-bottom: 1.5rem;
    }
    & > .row {
      & > .col {
        max-width: max-content;
      }
    }
    .clients__item {
      img {
        height: 2rem;
        max-height: 2rem;
      }
    }
  }
  &__hero {
    position: relative;
    width: 100%;
    height: 100%;
    .box-img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: -160px;
      right: -100px;
    }
  }
  .btn-play {
    width: 4.5rem;
    height: 4.5rem;
    background: #fff;
    border-radius: 50%;
    @include pulse2;
    // position: absolute
    // right: 0
    // bottom: -7.813rem
    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
  &__lrblock {
    padding: rem(120);
    .lrblock__item {
      padding: rem(120) 0;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
      &:nth-child(even) {
        .col-md-6 {
          &:first-child {
            order: 2;
          }
          &:last-child {
            order: 1;
          }
        }
      }
    }
    .text-content {
      max-width: rem(600);
      h2 {
        padding-right: rem(16);
      }
      a:not(.btn) {
        color: #f53b3b;
        &:hover {
          color: #f53b3b;
        }
      }
    }
    h4 {
      color: #8a8a8a;
      margin-bottom: rem(24);
    }
    .desc {
      margin-bottom: rem(24);
    }
    .img-content {
      img {
        width: 100%;
        height: auto;
      }
    }
    .box-action {
      .btn + .btn {
        margin-left: rem(16);
      }
    }
  }

  &__bottom {
    padding: 4.5rem 0 7.5rem;
  }
}

.begin {
  &__wrapper {
    display: flex;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  &__item {
    padding: 0 0.5rem;
    min-width: 260px;
    max-width: max-content; //260px
    flex: 0 0 max-content; //260px
    a {
      padding: 1.125rem 2rem;
      display: block;
      border-radius: 6px;
      background: #212126;
      border: 1px solid rgba(255, 255, 255, 0.15);
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      a {
        // background: rgba(255, 255, 255, 0.15)
        background: $primary;
      }
      .begin__title {
        p {
          color: #fff;
        }
      }
    }
  }
  &__icon {
    margin-bottom: 0.625rem;
  }
  &__title {
    p {
      font-size: 1.125rem;
      line-height: 1.4em;
      color: #fff;
    }
  }
}

.roles {
  &__content {
    margin-bottom: 1.5rem;
  }

  &__hero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    .box-img {
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .btn__back {
    margin-bottom: 2.5rem;
  }
  .btn__wrap {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 1.5rem 0 0 0;
  } // text-align: right
  &__wrap {
    padding-bottom: rem(120);
  }
  &__desc {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: rem(120) 0;
    h4 {
      margin-bottom: rem(24);
    }
    article {
      padding-bottom: rem(24);
      &:not(:last-of-type) {
        margin-bottom: rem(24);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      }
    }
    .source {
      opacity: 0.5;
    }

    figure {
      &:not(:last-child) {
        margin-bottom: rem(32);
      }
      figcaption {
        font-size: 14px;
        line-height: 1.4285714285714286em;
        color: #8a8a8a;
        display: block;
        margin-bottom: rem(12);
      }
    }
  }
}

.calculator {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @include responsive(0, 1921px);
  &__action {
    .col-lg-5 {
      display: flex;
      align-items: flex-start;
    }
    .section__subtitle.wacc-total-results {
      font-size: 1.75rem;
      line-height: 1.5em;
      @include font-title-700;
    }
  }

  .stepper {
    display: inline-block;
    text-align: center;
    color: #fff;
    width: 32px;
    height: 32px;
    // padding: .25rem .688rem
    border: 1px solid #fff;
    border-radius: 50px; // 50%
    margin-right: 1.5rem;
    line-height: 32px;
  }
  &__question {
    flex: 0 0 calc(100% - 3.5rem);
    max-width: calc(100% - 3.5rem);
    min-height: rem(350);
    .row {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }
    .col {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    label {
      font-weight: 400;
      margin-bottom: 0.25rem;
    }
    .form-group {
      padding-bottom: 0.25rem;
    }
    .form-notes {
      margin-bottom: 1.5rem;
      p {
        font-size: 0.875rem;
        line-height: 1.428em;
        color: #8a8a8a;
      }
    }
    .form-watch {
      margin-bottom: 1.25rem;
      .btn-watch {
        font-size: 0.875rem;
        line-height: 1.428em;
        color: #8a8a8a;
      }
      .icon-watch {
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
    }
    .form-action {
      .btn {
        margin-right: 1rem;
      }
    }
  }

  &__nav {
    margin-top: auto;
    .proegressbar-box {
      margin-right: 1.5rem;
      .total-steps {
        u {
          text-decoration: none;
        }
      }
      span {
        font-size: 0.75rem;
        line-height: 1.333em;
      }
    }
    .navs {
      display: flex;
      align-items: center;
      justify-content: center;
      &__buttons {
        display: flex;
        align-items: center;
        margin-right: -0.75rem;
      }

      &__up,
      &__down {
        padding: 4px;
        background: #3d3d41;
        border-radius: 4px;
        margin-right: 0.75rem;
        transition: all 0.3s ease-in-out;
        &:hover {
          cursor: pointer;
          background: darken(#3d3d41, 5%);
        }
        &.disabled {
          cursor: pointer;
          background: darken(#3d3d41, 5%);
          pointer-events: none;
        }
      }
      &__up {
        transform: rotate(180deg);
      }
    }
  }
  .section__action {
    max-width: 66.66666%;
    margin: 0 auto;
    .col {
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}

.calctab {
  display: none;
}

.plan {
  &__header {
    padding-bottom: 0;
    .container {
      position: relative;
      .btn__back {
        position: absolute;
        top: 0;
        left: 12px;
      }
    }
    .section__heading {
      h1 {
        font-size: rem(28);
        line-height: 1.7142857142857142em;
      }
    }

    .section__subtitle {
      margin-bottom: 0;
      font-size: 1rem;
      line-height: 1.5em;
      &:not(:last-child) {
        margin-bottom: rem(48);
      }
    }
    .switch-prices {
      text-align: center;
      .switch {
        margin-left: rem(16);
      }
    }
  }
  &__packets {
    padding-top: rem(32);
    padding-bottom: 3rem;
    .container {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .row {
      margin-left: -4px;
      margin-right: -4px;
      [class^="col-"],
      [class*=" col-"] {
        padding-left: 4px;
        padding-right: 4px;
      }
    }
  }
  &__card {
    // height: 100%
    // max-height: max-content
    &-title {
      padding: 1rem;
      background: #3d3d41;
      color: #fff;
      border-radius: 6px 6px 0 0;
      text-align: center;
    }
    &-body {
      padding: 1.5rem;
      border-radius: 0 0 6px 6px;
      background: #212126;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      a:not(.btn) {
        color: #93c1ff;
        text-decoration: underline;
      }
    }
    &-heading {
      text-align: center;
      margin-bottom: rem(20);
      h2 {
        font-size: rem(21);
        line-height: 1.5em;
        @include font-title-700;
        margin-bottom: 0;
      }
      .price {
        font-size: rem(21);
        line-height: 1.5em;
        @include font-title-700;
        small {
          font-size: 1rem;
          line-height: 1.5em;
          @include font-400;
        }
      }
    }
    &-list {
      .custom-list {
        li {
          font-size: 0.875rem;
          line-height: 1.4285714285714286em;
        }
      }
    }
    &-btn {
      padding-top: 1.5rem;
      text-align: center;
      margin-top: auto;
      .btn__link {
        color: #93c1ff;
        @include font-400;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &.higlight {
      outline: 2px solid #f54b1a;
      border-radius: 6px;
    }
  }
  &__footnote {
    padding: 2rem 0 4.5rem;
    ol {
      counter-reset: item;
      list-style-type: none;
      color: #8a8a8a;
      li {
        padding-left: 0.75rem;
        margin-bottom: 0.5rem;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          content: counter(item) "  ";
          counter-increment: item;
          font-size: 0.75rem;
          vertical-align: top;
          line-height: 1.3em;
          margin-left: -0.75rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

// Auth
.auth {
  background: #1b1b20;
  @include responsive(0, 1921px) {
    height: calc(100vh - 200px);
    .auth__login {
      padding-bottom: 11.25rem;
    }
  }
  &__login,
  &__reset-pass {
    padding: 7rem 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-logo {
      img {
        max-height: 3rem;
        display: block;
        margin: 0 auto 2.5rem;
      }
    }
    &-form {
      padding: 2rem;
      background: #212126;
      border-radius: 6px;
      border: 1px solid rgba(255, 255, 255, 0.15);
      box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
        0px 10px 10px -5px rgba(0, 0, 0, 0.04);
      .form-action {
        text-align: center;
      }
    }
    .newmem {
      text-align: center;
      margin-top: rem(32);
    }
  }
  &__stepper {
    margin-bottom: rem(40);
    .col-lg-4 {
      &:last-child {
        .step:after {
          display: none;
        }
      }
    }
    .step {
      text-align: center;
      color: #8a8a8a;
      position: relative;
      &:after {
        content: "";
        width: calc(100% - 2.625rem);
        height: 1px;
        background: #fff;
        position: absolute;
        top: rem(15);
        left: calc(100% - 1.5625rem);
      }
      .number {
        display: block;
        width: rem(32);
        height: rem(32);
        margin: 0 auto rem(8);
        padding: rem(4) rem(11);
        border: 1px solid #8a8a8a;
        border-radius: 50px;
      }
      &.current {
        color: #fff;
        .number {
          background: $primary;
          border-color: $primary;
          color: #fff;
        }
      }
      &.passed {
        .number {
          background: $primary;
          border-color: $primary;
          color: #fff;
          font-size: 0;
          background-image: url(../images/ic-checkmark.svg);
          background-size: 20px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
  &__notiftext {
    text-align: center;
    h3 {
      margin-bottom: 1rem;
    }
    b {
      display: block;
      margin-bottom: rem(8);
    }
  }
  &__verifcode {
    text-align: center;
    padding-top: rem(32);
    .form-group {
      label {
        padding-bottom: rem(12);
      }
      .row {
        margin: 0 auto;
        max-width: rem(224);
        .col {
          padding-left: rem(8);
          padding-right: rem(8);
        }
      }
    }
    .form-control {
      width: rem(40);
      height: rem(40);
      margin-right: 0;
      border-radius: 50px;
      padding: rem(8);
      text-align: center;
    }
    .resend {
      color: #8a8a8a;
      .resendcode {
        display: none;
      }
    }
  }
}

.login-form {
  .form-action {
    .btn {
      margin-bottom: 1rem;
    }
  }
}

// My Account
.my-account {
  min-height: 90vh;
  .side__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    .nav-item {
      padding: 0.75rem;
      border-radius: 6px;
      color: #8a8a8a;
      text-decoration: none;
      margin-bottom: 0.25rem;
      max-width: 15rem;
      transition: all 0.3s ease-in-out;
      &:hover,
      &.active {
        background: #0b0b0d;
        color: #fff;
      }
      &.logout {
        border-top: 1px solid #3d3d41;
        border-radius: 0 0 6px 6px;
      }
    }
  }

  &__profile-top {
    .search-box {
      margin-top: 1.5rem;
    }
    .right__content {
      b {
        display: block;
        margin-bottom: 0.25rem;
        @include font-500;
      }
      .col-6 {
        .box {
          position: relative;
        }
        &:first-child {
          .box {
            // padding-right: 1.75rem
            border-right: 1px solid #3d3d41;
          }
        }
        &:last-child {
          .box {
          }
        }
      } // padding-left: 1.75rem
      .saldo {
      }
      .ammount {
        display: block;
        font-size: 1.5rem;
        line-height: 1.3333em;
        @include font-mulish-700;
      }
      small.small {
        color: #8a8a8a;
      }
    }
  }

  &__profile-content {
    padding-bottom: 7.5rem;
    h4 {
      margin-bottom: rem(40);
    }
    .profile {
      &-info {
        display: flex;
        flex-wrap: wrap;
      }

      &-pic {
        flex: 0 0 5rem;
        max-width: 5rem;
        margin-right: 2.5rem;
        .pp {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          overflow: hidden;
        }
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
        .btn-upload {
          .btn-link {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            text-align: center;
          }
        }
      }
      &-detail {
        flex: 0 0 calc(100% - 7.5rem);
        max-width: calc(100% - 7.5rem);
        position: relative;
        .button-edit {
          position: absolute;
          top: 0;
          right: 0;
          width: 1.5rem;
          height: 1.5rem;
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }
      &-name {
        margin-bottom: 3.25rem;
        h2 {
          @include font-500;
          margin-bottom: 0;
        }
        .comapny {
          margin-bottom: 0.5rem;
        }
        .company-scale {
          display: flex;
          align-items: center;
          span {
            position: relative;
          }
          span + span {
            padding-left: rem(36);
            &:before {
              content: "";
              width: 4px;
              height: 4px;
              position: absolute;
              top: 10px;
              left: 16px;
              background: #fff;
              border-radius: 50px;
            }
          }
        }
        .acc-stat {
          color: #8a8a8a;
        }
      }
      &-contact {
        ul {
          list-style: none;
          li {
            padding: 0.75rem 0;
            padding-left: 0;
            margin-bottom: 0;
            &:before {
              display: none;
            }
            .ic {
              margin-right: 1rem;
            }
            a {
              color: #fff;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
          }
        }
      }
      &-deact {
        padding: rem(32) 0 0;
        border-top: 1px solid #3d3d41;
        p:first-child {
          font-weight: 500;
        }
        p + ul {
          margin-top: rem(-16);
        }
        ul {
          margin-bottom: rem(32);
          li {
            padding-left: rem(24);
            &:before {
              left: rem(10);
            }
          }
        }
        .btn {
          opacity: 0.5;
        }
      }
    }
  }

  &__wacc {
    min-height: rem(600);
    .wacc {
      &__wraps {
      }
      &__card {
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        border-radius: 6px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        color: rgba(255, 255, 255, 0.75);
        background: #212126;
        &-top {
          margin-bottom: 1rem;
          position: relative;
          padding-right: 2.5rem;

          h5 {
            color: rgba(255, 255, 255, 0.75);
            @include font-500;
            margin-bottom: 0;
          }
          .percentage {
            color: #ffffff;
            font-size: 1.5rem;
            line-height: 1.3333333333333333em;
            @include font-mulish-600;
          }
          .button__dots {
            width: 1.5rem;
            height: 1.5rem;
            position: absolute;
            top: 0;
            right: 0;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }

        &-mid {
          margin-bottom: 1rem;
        }
        &-mid,
        &-bot {
          .small {
            display: block;
          }
          span {
            color: #ffffff;
          }
        }
      }
    }
  }

  &__membership {
    .membership {
      &__content {
      }
      &__name {
        position: relative;
        margin-bottom: 2rem;
        .btn {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      &__usage {
        border-bottom: 1px solid #3d3d41;
        max-width: 37.5rem;
        margin-bottom: 0.5rem;
        .plans {
          margin-bottom: 0.5rem;
          li {
            padding-left: 0;
            &:before {
              display: none;
            }
            span {
              display: block;
            }
            .small {
              color: #8a8a8a;
            }
          }
        }
      }
      &__bill {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 37.5rem;
        h5 {
          margin-bottom: 0;
        }
        .period {
          color: #8a8a8a;
        }
        b {
          @include font-500;
        }
      }
    }
  }
}

.profile-info-deactivation {
  max-width: rem(480);
  ul {
    margin-bottom: rem(40);
  }
}

.upsell-banner {
  padding: rem(16);
  background: #6b2d5c;
  border-radius: 6px;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: rem(24);
  .row {
    width: 100%;
  }
  .col-md-3 {
    display: flex;
    justify-content: flex-end;
  }
  .text {
    p {
      margin-bottom: 4px;
    }
    small {
      font-size: rem(14);
      line-height: rem(20);
    }
  }
  .buttonwrap {
    max-width: rem(160);
    text-align: center;
    small {
      font-size: rem(12);
      line-height: rem(16);
      opacity: 0.5;
    }
  }
}

.affiliate-code {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  .ic-copy {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background: url(../images/ic-copy.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0.625rem;
  }
}
.banner__question {
  width: 100%;
  max-width: 240px;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #3d3d41;
  background: #212126;
  text-align: center;
  b {
    @include font-500;
    display: block;
    margin-bottom: 1rem;
  }
}

// Video Page
.videos {
  .section__heading {
    margin-bottom: 5.5rem;
  }
  &__wrap {
    padding-bottom: 4.5rem;
  }
  .video {
    &__card {
      margin-bottom: 3rem;
      .thumbnail {
        position: relative;
        .box-img {
          position: relative;
          padding: 27.78% 0;
          border-radius: 6px;
          overflow: hidden;
          margin-bottom: 1rem;
          & > img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
          }
        }
      }
      .btn-play {
        width: 3rem;
        height: 3em;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        right: 1.5rem;
        bottom: -1.5rem;
        img {
          width: 1.125rem;
          height: 1.125rem;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }
        &:hover {
          @include pulse2;
        }
      }
      .titletime {
        h5.alt {
          font-weight: 500;
          margin-bottom: 0;
          a {
            color: #fff;
            text-decoration: none;
            &:hover {
              color: $primary;
            }
          }
        }
        .time {
          color: #8a8a8a;
        }
      }
    }
  }
}

// Helpcenter
.helpcenter {
  padding-bottom: 7.5rem;
}

.affiliate-content {
  .faq-block {
    padding: rem(48) 0;
  }

  article {
    ul {
      li {
        &:before {
          display: none;
        }
      }
    }
  }
  table {
    width: 100%;
    th,
    td {
      padding: rem(12);
    }
    th {
      border-bottom: 1px solid rgba(61, 61, 65, 0.5);
    }
    td {
      vertical-align: top;
      border-bottom: 1px solid rgba(61, 61, 65, 0.5);
      span {
        display: block;
        color: #fff;
        opacity: 0.5;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
